/* Reset some default styles */
body, h1, h2, ul, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Change height to min-height */
    flex-direction: column; /* Change the flex direction to column */
}

h1, h2 {
    color: #333;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center; /* Center-align the container */
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form button {
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: block;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    width: 80%; /* Adjust the width of the list */
    margin: 0 auto; /* Center-align the list */
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    form input, form select, form button, ul {
        width: 100%;
    }
}
